<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css linkage -->
    <link rel="stylesheet" href="./css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./css/bootstrap-utilities.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">

    <title>bi-cloud-upload</title>
</head>

<body style="background-color: #03193E;">
    <nav class="navbar navbar-expand-lg navbar-dark w-100" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="rounded-pill" src="./media/logo.jpeg" width="50" height="50"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu" style="left: 4px;">
                            <li><a class="dropdown-item" href="./analyzer.html">Patient</a></li>
                            <li><a class="dropdown-item" href="./doctor-basic-dash.html">Doctor</a></li>

                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Contact</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="./profile.html" class="btn btn-light rounded-pill me-2"
                        style="font-size: medium; font-weight: 600;">Book a Demo</a>
                    <div class="dropdown">
                        <button class="btn btn-light rounded-pill padd" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                            </svg>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">My profile</a></li>
                            <li><a class="dropdown-item" href="#">Help</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container-fluid">
        
    </main>

    <footer class="row py-5 my-5 ps-5 border-top container-fluid">
        <div class="col-lg-3 mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <img src="./media/logo.png" alt="">
            </a>
            <p class="text-light">© 2023 by BackupDoc.</p>
            <p class="text-light">All Right Reserved <a href="">Privacy and terms</a></p>
        </div>
        <div class="col-lg-3 mb-3">
            <h5 class="text-light" style="font-weight: 900;">AI Based treatment prediction platform</h5>
            <p class="text-light " style="font-family: sans-serif; font-size: small;">

                Address
                Backupdoc
                Af 30 Aditya City center
                ghaziabad
            </p>
        </div>

        <div class="col-lg-4 mb-3">
            <h5 class="text-light" style="font-weight: 900;">Be in the know</h5>
            <p class="text-light " style="font-family: sans-serif; font-size: small;">

                Founded in 2023, BackupDoc is a pioneer in digital dental diagnostics. With a mission to democratize
                health diagnoses and enhance transparency, our platform has already served thousands of satisfied
                users, making dental diagnostics accessible and comprehensible for all. Join us on our journey to
                reshape the future of dental care, one radiograph at a time.
            </p>
        </div>


        <div class="col-lg-1 mb-3">
            <h5 class="text-light" style="font-weight: 900;">Menu</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
            </ul>
        </div>
    </footer>
    <script src="./js/bootstrap.bundle.min.js"></script>

    <script src="./js/worker.js"></script>


</body>

</html>